<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <appSettings>
    <!--匯入檔案類型-->
    <add key="inputFileType" value="csv"/>
    <!--檔案、LOG輸出存檔路徑 ex：D:\RegalScan\Output\-->
    <add key="outputPath" value="D:\RegalScan\Output\"/>
    <!--PDA 匯出 PC 之資料庫路徑 ex：sdcard/Download-->
    <add key="PdatoPC" value="sdcard/Download/"/>
    <!--PDA 匯出 PC 之資料庫檔名 ex：Regal.db3-->
    <add key="outputDBName" value="Regal.db3"/>
    <!--啟用匯入轉檔程式Flag true:啟用 false:不啟用-->
    <add key="enableConvertInput" value="true"/>
    <!--呼叫匯入轉檔程式路徑 ex：D:\RegalScan\Convert\ConsoleConvert.exe-->
    <add key="convertInputPath" value="D:\RegalScan\AndroidTranferTool_Install\Convert\ConsoleConvert.exe"/>
    <!--啟用匯入轉檔程式Flag true:啟用 false:不啟用-->
    <add key="enableConvertOutput" value="true"/>
    <!--呼叫匯入轉檔程式路徑 ex：D:\RegalScan\Convert\ConsoleConvert.exe-->
    <add key="convertOutputPath" value="D:\RegalScan\AndroidTranferTool_Install\Convert\ConsoleConvert.exe"/>
  </appSettings>  
</configuration>